### LittleLemonDB Capstone Project

In [1]:
# use to import the mysql connector API
import mysql.connector as connector

### Task 1

In [11]:
connection=connector.connect(
                             user="admin1", 
                             password="password",
                             database="LittleLemonDB"
                            )

In [12]:
cursor = connection.cursor()

In [13]:
cursor.execute("USE LittleLemonDB")
connection.database

'littlelemondb'

### Task 2

In [14]:
show_tables_query = """SHOW tables""" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
cols = cursor.column_names[1:]
print("Tables in the LittleLemonDB database:")
print("--------------------------------------")
print(cols)
for result in results:
    print(result)

Tables in the LittleLemonDB database:
--------------------------------------
()
('Bookings',)
('Customers',)
('Employees',)
('MenuItems',)
('Menus',)
('Orders',)

### Testing connection

In [15]:
orders_query = """SELECT * FROM Customers""" 
cursor.execute(orders_query)
results = cursor.fetchall()
cols = cursor.column_names

print(cols)
for result in results:
    print(result)

('CustomerID', 'FullName', 'ContactNumber')
(1, 'Vanessa McCarthy', 111111)
(2, 'Marcos Romero', 222222)
(3, 'Anna Iversen', 333333)
(4, 'Joakim Iversen', 444444)
(5, 'Diana Pinto', 555555)
(6, 'Hiroki Yamane', 666666)

### Task 3

In [16]:
query = """
SELECT c.CustomerID, c.FullName, c.ContactNumber, o.TotalCost
FROM Orders o
INNER JOIN Customers c
  ON o.CustomerID = c.CustomerID
WHERE o.TotalCost > 60
"""


cursor.execute(query)
results = cursor.fetchall()
cols = cursor.column_names

print("Customers with orders greater than $60:")
print("---------------------------------------")
print(cols)
for result in results:
    print(result)

Customers with orders greater than $60:
---------------------------------------
('CustomerID', 'FullName', 'ContactNumber', 'TotalCost')
(3, 'Anna Iversen', 333333, 250)
(4, 'Joakim Iversen', 444444, 200)
(1, 'Vanessa McCarthy', 111111, 100)
(2, 'Marcos Romero', 222222, 150)
(6, 'Hiroki Yamane', 666666, 90)

In [18]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed.")

Connection is already closed.